<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <div ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" (click)="itemTapped($event, item)" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-left (click)="shareItem(item)">
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </div>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
